@import 'normalize/normalize';
$header-font : 'Cabin Sketch', Helvetica, sans-serif;

body {
  background-color: darkgray;
  max-width: 43.75rem;
  margin: 0 auto;
}
h1 {
  font-family: $header-font;
  text-align: center;
  font-size: 3rem;
}
#field {
  display: block;
  width:40rem;
  height: 30rem;
  background: green;
  border-top: .5rem white solid;
  border-bottom: .5rem white solid;
  margin: 2rem auto;
}
.center {
  position:relative;
  left: 50%;
  margin: 5px;
}
.scoreboard {
  font-weight: bold;
  font-size: 1.5rem;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 1rem;
      @media screen and (min-width:40rem) {
        width:40%;
      }
      &:nth-child(1) {
        float: left;
      }
    }
  }
}